html,
body {
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(/assets/material-icons/iconfont/MaterialIcons-Regular.eot); /* For IE6-8 */
  src: local('Material Icons'),
       local('MaterialIcons-Regular'),
       url(/assets/material-icons/iconfont/MaterialIcons-Regular.woff2) format('woff2'),
       url(/assets/material-icons/iconfont/MaterialIcons-Regular.woff) format('woff'),
       url(/assets/material-icons/iconfont/MaterialIcons-Regular.ttf) format('truetype');
}
.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;
  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;
}

#grayed {
    opacity: 0.4;
    filter: alpha(opacity=40);
}

.outer-grid-container{
  display: grid;
  gap: 1px;
}

.mainapplication {
  grid-column: 1;
  grid-row: 1 / span 3;
}

.item-slots {
  grid-column: 2;
  grid-row: 2;
}

.stats {
  grid-column: 2;
  grid-row: 1;
}

.messages {
  grid-column: 2;
  grid-row: 3;
}

.grid-container {
  display: grid;
  //background: lightblue;
  grid-auto-columns: 15px;
  grid-auto-rows: 15px;
  grid-template-columns: repeat(50, 15px);
}

.grid-item {
  border: 1px solid gray;
  font-size: 12px;
  background-color: lightgray;
}
